html,
body {
    margin: 0;
    background: var(--mantine-color-body);
    min-height: 100vh;
}

.duration {
    display: inline-flex;
    gap: 10px;
    transition-duration: 1s;
}

.play {
    opacity: 1;
    transition-duration: 1s;
}

.play.hide {
    opacity: 0;
}